:root{
    --white:#FFFFFF;
    --basic-red:#EE3643;
    --dark-red:#CA2C37;
    --extra-red:#BA2732;
    --shadow-red: rgba(0, 0, 0, 0.24);
    --black:#000000;
    --light-blue:#3BBCE3;
    --violet:#DC91D8;
    --basic-green:#8ED78F;
    --light-green: #63A63E;
    --special-green: #5FBB2D;
    --shadow-green: #367315;
    --active-green: #518534;
    --extra-dark-blue: #212A3A;
    --dark-blue:#32425C;
    --special-blue:#293449;
    --extra-blue:#405069;
    --special-extra-blue:#1D2739;
    --active-blue:#161D29;
    --extra-light-grey:#F9F5F0;
    --grey:#C5C5C5;
    --another-grey:#D7DCDE;
    --basic-grey:#3D546F;
    --dark-grey:#ABABAB;
    --light-grey:#A9A9A9;
    --light-yellow:#FFD180;
    --basic-yellow:#FFC047;
    --dark-yellow:#FFBF47;
    --background-grey:#888888;
    --background-extra-grey:#F7F3EC;
    --background-extra-blue:#F1F5F7;
    --background-catalog-blue: #F2F6F8;
    --background-blue:#F3F7F9;
    --border-color: #EAEAEA;
    --border-color-light: #E5E5E5;
    --popup-grey: #F4F4F4;
    --check-grey: #B5B5B5;
    --opasity-black: rgba(0, 0, 0, 0.3);
    --background-exrta-grey:rgba(0, 0, 0, 0.25);
    --transparent-black:rgba(0, 0, 0, 0.0001);
    --white-click: rgba(255, 255, 255, 0.5);
    --background-opacity:rgb(255, 255, 255, 0.3);
    --background-light-grey:rgb(197, 197, 197, 0.3);
    --background-dark-grey:rgb(169, 169, 169, 0.3);
    --shadow-color-grey: rgba(0, 0, 0, 0.15);
}

body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    background-color: var(--white);
}

.link{
    text-decoration: none;
    color: var(--white);
}

.list-reset{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

.page{
    height: 100%;
}
.page-body{
    min-height: 100%;
    display:grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*header*/

.main-header{
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color:var(--background-extra-blue);
}
.header-top{
    background-color:var(--special-blue);
    font-size: 18px;
    line-height: 24px; 
    margin-bottom:46px;
}
.main-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    min-width: 220px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--shadow-red);
    
}
.header-logo:active{
    background-color:var(--extra-red);  
}
.header-logo{
    height: 47px;
    margin-bottom: -5px;
}

.input-wrapper{
    position: relative;
    width: 270px;
}
.search{
    width: 100%;
    height: 42px;
    padding-left: 42px;
    background-color:var(--special-blue);
    color:var(--black);
    border: none; 
    cursor: pointer;
}
.search::placeholder{
    color: var(--white);
}
.search-icon{
    position: absolute;
    top: 12px;
    right: 237px;
    opacity: 0.3;
}
.search-icon:hover,
.search:focus + .search-icon{
    opacity: 1;
}
.search:focus{
    background-color: var(--white);
    outline: none;
}
.search:focus + .search-icon > path{
    fill: var(--basic-red); 
}
.header-top-link{
    position: relative;
    display: flex;
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 43px;
    box-sizing:border-box;
    text-decoration: none;
    color: var(--white);  
}
.header-top-link:active{
    background-color: var(--active-blue); 
    color:var(--white-click);
}
.markers::before{
    content:"";
    position: absolute;
    left:21px;
    top:12px;
    width:14px;
    height: 16px;
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}
.markers:hover::before,
.markers:focus::before,
.basket:hover::before,
.basket:focus::before{
    opacity: 1;
}
.markers:active::before,
.basket:active::before{
    opacity: 0.5;
}
.basket{
    padding-left: 49px;
}
.basket::before{
    content:"";
    position: absolute;
    left:26px;
    top:13px;
    width:15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.button-order{
    padding: 9px 16px 9px 19px; 
    font: inherit;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--light-green);
    color: var(--white);
    border:none; 
    cursor: pointer;
}
.button-order:hover,
.button-order:focus{
    background-color: var(--special-green);
}
.button-order:active{
    background-color: var(--light-green);
    color: var(--white-click);
}

.main-header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
}  

.header-text{
    width: 200px;
    margin: 0;
    margin-left: 30px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color:var(--basic-red);
}
.header-contacts{
    margin: 0;
    margin-left: 26px;
    text-align: center;
    color:var(--black);
}
.button-phone{
    position: relative;
    display: flex;
    width: 270px;
    height: 45px;
    align-items:center;
    margin-bottom: 3px;
    padding-left: 74px;
    text-decoration: none;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    background-color: var(--background-blue);
    border: 3px solid var(--white);
    box-sizing:border-box;
}
.button-phone::before{
    content: "";
    position: absolute;
    left: 39px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.check-in{
    display: flex;
}
.user-button{
    display: block;
    text-decoration: none;
    padding: 12px 24px;
    margin-left: 10px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
}
.user-button:hover,
.user-button:focus,
.user-orders-link:hover,
.user-orders-link:focus{
    color: var(--basic-red);
}
.user-button:hover path,
.user-button:focus path,
.user:hover path,
.user:focus path{
    fill: var(--basic-grey);
}
.user-button:active,
.user:active .name,
.user-orders-link:active{
    color: var(--grey);
} 
.user-button:active path,
.user:active path{
    fill: var(--grey);
}

.login{
    padding-right: 27px;
    padding-left: 19px;
}

.user-login{
    display: flex;
    min-height: 45px;
    align-items: center;
    padding: 0 17px 0 15px;
    margin-bottom: 6px;
    background-color: var(--white);
    margin-left: -10px;
    
}
.name{
    padding-right: 20px;
    padding-left: 21px;
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
}
.user svg{
    padding-top: 5px;
}
.logout{
    padding-top: 5px;
}
.user{
    text-decoration: none;
}
.user-orders{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}
.user-orders-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--dark-blue);
}
.bullet-link{
    padding-left: 30px;
    padding-right: 9px;
}
.user-orders::before{
    content:"";
    position: absolute;
    left: 124px;
    top: 9px;
    width: 4px;
    height: 4px;
    border: 2px solid var(--dark-blue);
    border-radius: 50%;
    box-sizing: border-box;
}
 
.index-header .checked-user{
    display: none;
}
.catalog-header .check-in{
    display: none;
}
    

/*navigation*/ 
.main-navigation{
    font-size: 18px;
    line-height: 24px;
    background-color: var(--dark-blue);
    box-shadow: inset 0px -5px 0px var(--special-blue);
    width: 940px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    
}
.site-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-left: 19px;
}
.site-navigation-item{
    margin-right: 6px;
}
.site-navigation-item:last-child{
    margin-right: 0;
}
.site-navigation-link{
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 16px 25px 20px;
}

.site-navigation-link:hover,
.site-navigation-link:focus{
    background-color: var(--special-blue);
}
.site-navigation-link:active{
    opacity: 0.5;
    background-color: var(--special-extra-blue);
}

/*main*/

/*promo*/
.promo{
    margin-bottom: 40px;
}
.promo-list{
    display: flex;
    margin: 0;
    padding: 0; 
    margin-top:60px;
    margin-bottom: 20px;
}
.promo-offers{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
}
.promo-items{
    position: relative;
    width:300px;
    height: 123px;
    margin-right: 20px;
    overflow: hidden;
}
.promo-offers .promo-items{
    margin-right: 0;
    margin-bottom: 20px;
}
.promo-items:nth-child(3n){
    margin-right: 0;
}
.promo-items-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 14px;
    margin-left: 22px;
}
.materials{
    background-color:var(--dark-yellow);
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 213px 31px;

}
.instruments{
    background-color:var(--light-blue); 
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 194px 34px;  
}
.technics{
    background-color:var(--violet); 
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 191px 31px;   
}
.sales{
    background-color:var(--basic-green);
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 196px 27px;
}
.delivery{
    background-color:var(--basic-yellow); 
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;  
}
.promo-button{  
    display: flex;
    justify-content: center;
    align-items:center;
    height: 38px;
    width: 135px;
    margin-left: 22px;
    text-decoration: none;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white); 
    background:var(--background-opacity);   
}
.promo-button:hover,
.promo-button:focus{
    background:var(--background-light-grey);
}
.promo-button:active{
    background:var(--background-dark-grey);
}

/*slider*/
.wrapper{
    display: flex;
}
.slider{
    position: relative;
    width: 620px;
    height: 266px;
    margin-right: 20px;
}
.slider-list{
    margin: 0;
    padding: 0;  
}
.slide{
   display: none;
}
.slide-current{
    display: block;
}
.slider-controls button{
    position: absolute;
    top: 123px;
    left: 24px;
    width: 21px;
    height: 40px;
    border: none;
    background-image:url(../img/icon-left.png);
    background-color:transparent;
    cursor: pointer;
}
.next{
    transform: translateX(556px) rotate(180deg);
}
.slider-radio-controls{
    position: absolute;
    top:220px;
    left:295px;
    z-index: 20;
    display: flex;
    width: 30px;
    justify-content: space-between;
}
.slider-radio-controls button{
    padding: 0;
    width:10px;
    height: 10px;
    background-color:var(--basic-red);
    border:2px solid var(--white);
    border-radius:50%;
    cursor: pointer;
}
.slider-radio-controls .current{
    border:5px solid var(--white);
    border-radius:50%;
}
.slider-title{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin:0;
    margin-top:23px;
    margin-left:24px;
    margin-bottom: 5px;
}
.slider-text{
    font-size: 18px;
    line-height: 24px;
    margin:0;
    margin-left:24px;
}

.slider-img{
    position: absolute;
}
.text-container{
    position: absolute;
    background-color:var(--background-exrta-grey);
    z-index:1;
    width: 620px;
    height: 104px;
}
.slider .button-primary{
    position: absolute;
    top: 201px;
    left:24px;
    z-index: 1;
    height: 38px;
    width: 192px; 
}

    /*popular*/
.popular .container{
    display: grid;
    grid-template-rows: 1fr max-content;

}
.popular-columns{
    background-color: var(--extra-light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-columns-title{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color:var(--dark-blue);
    text-transform: uppercase;
    padding-left:28px;
    margin: 0;
    margin-top: 29px;
    margin-bottom: 30px;
}

    /*button-primary*/
.button-primary{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    font: inherit;
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    height: 38px;
    min-width: 192px;
    box-sizing:border-box;
}
.button-primary:hover,
.button-primary:focus{
    background-color: var(--dark-red);
}
.button-primary:active{
    background-color: var(--extra-red);
}
.popular-columns .button-primary{
    margin-right: 19px;
}
   
    /*products-list*/
.products-list{
    margin: 0;
    padding: 0; 
    display:flex;
    flex-wrap: wrap;
    min-height: 318px;
    padding-top: 19px;
    margin-bottom: 52px;
}
 
.products-item{
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 220px;
    min-height: 318px; 
    align-items: center; 
    margin-bottom: 18px;
    background-color:var(--white);
    border: 1px solid var(--border-color);
    font-family: PT Sans;
    font-weight: bold; 
    box-sizing:border-box;   
    overflow: hidden;
}
.products-list .products-item{
    margin-right: 20px;
}
.products-list .products-item:nth-child(4n){
    margin-right: 0; 
}
.products-img {
    margin:0;
    height: 170px;
    display: flex;
    align-items:center;
    object-fit: contain;
    /*padding-top: 6px;*/
}

.products-link{
    text-decoration: none;
}
.item-title{
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: var(--black);
    margin: 0;
    padding: 0 15px;
    margin-top: 8px;
    margin-bottom: 7px;
}
.del-price{
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-grey);
    /*margin-top:7px;
    margin-bottom:13px;*/
}
.button-price{
    display: flex;
    align-items:center;
    font: inherit;
    background-color: var(--basic-red);
    border-radius:3px;
    color: var(--white);
    font-size: 17px;
    border:none;
    width: 141px;
    height: 38px;
    padding-left: 32px;
    margin-top: auto;
    margin-bottom: 21px;
    margin-left: 11px;
    background:linear-gradient(-135deg, transparent 14px, var(--basic-red) 0) top right,
               linear-gradient(-45deg, transparent 14px, var(--basic-red) 0) bottom right;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.action{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 218px;
    height: 159px;
    background-color:var(--white);
    z-index:5;
}
.action-button{
    width:135px;
    height: 38px;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border:none;
    border-radius: 2px;
    cursor: pointer;
}
.buy{
    position: relative;
    padding-left: 53px;
    padding-right: 40px;
    color: var(--white);
    background-color: var(--light-green);
    box-shadow: inset 0px -3px 0px var(--shadow-green);
}
.buy::before{
    content: "";
    position: absolute;
    left: 30px;
    width:15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.buy:hover,
.buy:focus{
    background-color: var(--special-green);
}
.buy:active{
    background-color: var(--active-green);
}
.bookmark{
    color: var(--dark-blue);
    background-color: var(--white);
    border: 3px solid var(--light-green);
}
.bookmark:hover,
.bookmark:focus{
    border-color: var(--dark-blue);
}
.bookmark:active{
    opacity: 0.5;
}
.action-button:first-child{
    margin-bottom: 10px;
}
.action{
    display: none;
}
.products-item:hover .action,
.products-item:focus-within .action{
    display: flex;
}
.products-item:hover{
    filter: drop-shadow(0px 4px 20px var(--shadow-color-grey));
}
.new::before{
    content:"new";
    position: absolute;
    right: -31px;
    top:9px;
    padding-right: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 10;
    width:100px;
    height: 30px;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-red);
    transform: rotate(45deg);

}

/*producers-list*/
.producers-list{
    margin: 0;
    padding: 0; 
    display:flex;
    flex-wrap:wrap; 
    padding-top: 20px;
    margin-bottom: 50px;
}
.producers-item{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 20px;  
    margin-bottom: 20px;
    width: 220px; 
    min-height: 145px; 
    background-color:var(--white);
    border: 1px solid var(--border-color);
    box-sizing:border-box;
}
.producers-item:nth-child(4n){
    margin-right: 0; 
}
.producers-item:hover,
.producers-item:focus,
.producers-item:active{
    box-shadow:0px 4px 20px var(--shadow-color-grey);
}
.producers-item:active{
    opacity: 0.5;
}

/*services*/
.services{
    background:var(--background-extra-blue);
}
.services .container{
    display: grid;
    grid-template-columns: 240px 1fr;
    background-image: url("../img/shadow_object.png");
    background-repeat: no-repeat;
    background-position: 240px 189px;
}
.services-info{
    grid-column: 1/-1;
}
.services-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 99px;
} 

.services-title,
.about-title{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
}
.services-title{
    margin: 0;
    margin-top:64px;
    margin-bottom:25px;
}
.services-text,
.about-text{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);
}
.services-text{
    width: 400px;
    margin: 0;
    margin-bottom: 70px;
}

.slider-button{
    display: flex;
    height: 61px;
    align-items:center;
    padding-left: 22px;
    text-decoration: none;
    color: var(--white); 
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background:var(--dark-blue);
    box-shadow: 
        0px 1px 0px var(--special-blue), 
        inset 0px 1px 0px var(--extra-blue);
}
.slider-button-current,
.slider-button:focus,
.slider-button:active{
    background:var(--white);
    box-shadow: 0px 1px 0px var(--white);
    color: var(--dark-blue);
}
.slider-button:hover{
    background:var(--special-blue);
}

.services-slider-list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 80px;
}
.services-slider-item{
    padding-bottom: 20px;
}
.slide-delivery{
    background-image: url("../img/delivery_img.png");
    background-repeat: no-repeat;
    background-position: 151px 19px;
}
.slide-guarantee{
    background-image: url("../img/guaranty_img.png");
    background-repeat: no-repeat;
    background-position: 239px -3px;
}
.slide-credit{
    background-image: url("../img/credit_img.png");
    background-repeat: no-repeat;
    background-position: 165px 0;
}
.slide-credit > .button-primary{
    width: 195px;
    border-radius: 3px;
}
.slide-credit > .services-text{
    margin-bottom: 23px;
}
.services-item-title{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color:var(--dark-blue);
    text-transform: uppercase; 
    margin: 0;
    margin-bottom: 30px;
}
.slide-guarantee > .services-item-title{
    margin-bottom: 22px;
}
.services-item-text{
    width: 330px;
}
.services-slider-item{
    display: none;
}
.services-slide-current{
    display: block;
}

/*about*/
.about .container{
    display: flex;
    justify-content: space-between;
    min-height: 356px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.main-contacts{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.main-contacts .button-primary{
    align-self: stretch;
    margin-top: auto;
}
.about-info{
    width: 460px;
    display: flex;
    flex-direction: column;
}
.about-info .button-primary{
    margin-top: auto;
    width:220px;
}
.about-title{
    margin:0;
    padding:0;
    padding-top: 3px;
}
.about-list{
    margin:0;
    padding:0;
    padding-left: 37px;
    margin-top: 3px; 
    margin-bottom: 5px;
}
.about-list-item{
    margin-bottom: 12px;
}
.about-list-link{
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    text-decoration: none;   
}
.about-list-link::before{
    content:"";
    position: absolute;
    left:-37px;
    top:10px;
    width:25px;
    height: 2px;
    background-color:var(--basic-red);
}
.about-text{
    margin: 0;
    margin-top: 24px;
}
.cart-link{
    padding-top: 32px;
}

/*footer*/
.main-footer{
    display: grid;
    grid-template-rows: min-content min-content min-content;
    background:var(--dark-blue);
    font-size: 18px;
    line-height: 24px;  
}
.main-footer .container{
    display: flex;
}
.footer-logo{
    padding-top: 21px;
    padding-bottom: 25px;
    box-shadow: inset 0px -5px 0px var(--shadow-red);
}
.footer-navigation{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-top: 37px;
}
.footer-list{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-top: 28px;
}
.footer-navigation-link{
    padding-left: 58px;
}
li:first-child > .footer-navigation-link,
li:first-child > .footer-list-link{
    padding-left: 0;
}
.footer-list-link{
    padding-left: 58px;
    color: var(--light-yellow);
}
.footer-navigation-link:hover,
.footer-navigation-link:focus,
.footer-list-link:hover,
.footer-list-link:focus{
    text-decoration: underline;
} 
.footer-navigation-link:active,
.footer-list-link:active{
    opacity: 0.5;
} 
.footer-contacts{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 330px;
    margin: 0;
    margin-bottom: 54px;
    margin-top: 22px;
    color: var(--background-extra-blue);
}
.contacts-phone{
    color:inherit;
    padding-left: 2px;
    letter-spacing: 0.1px;
}

.author-info{
    background:var(--special-blue);
    font-size: 16px;
    line-height: 18px; 
}
.author-info .container{
    display: flex;  
    justify-content: center;
}
.rights{
    width: 230px;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 34px;
    padding-right: 43px;
    letter-spacing: 0.15px;
}
.footer-social{
    display: flex;
    justify-content: center;
    padding:0;
    flex-grow: 1;
    padding-top: 34px;
    margin: 0;
}
.footer-copyright{
    padding-top: 35px;
}
.footer-copyright p{
    margin: 0;
}
.feedback{
    width: 137px;
    padding-right: 51px;
}
.developed{
    width: 100px;
    padding-right: 13px;
}
.social-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 44px;
    height: 44px;
    background-color:var(--extra-dark-blue);
    border-radius: 44px;
    margin-right: 1px;
}
.social-button:hover,
.social-button:focus,
.social-button:active{
    background-color:var(--basic-red);  
}
.footer-copyright-link{
    color: var(--light-yellow);
}
.footer-copyright-link:hover,
.footer-copyright-link:focus{
    text-decoration: underline;
}
.footer-copyright-link:active{
    color: var(--basic-red);
}

/*catalog*/
.active{
    background-color: var(--basic-red);
}
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    padding: 19px 0;
    padding-bottom: 17px;
    margin: 0;
}
.breadcrumbs-items{
    position: relative;
    margin-right: 40px;
}
.breadcrumbs-items:last-child{
    margin-right: 0;
}
.home-link{
    display: block;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 5px; 
}
.breadcrumbs-items:not(:last-child):after{
    content: "";
    position: absolute;
    right: -21px;
    top: 4px;
    width: 8px;
    height: 12px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
}
.breadcrumbs-link{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
}
.page-title{
    font-size: 30px;
    line-height: 30px;
    color:var(--dark-blue);
    text-transform: uppercase; 
    background-color:var(--background-catalog-blue);
    padding:30px;
    padding-top: 29px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -0.8px;
}
.page-catalog{
    display:grid;
    grid-template-columns: 220px 1fr;
}
/*filter*/
.filter-title{
    margin:0;
    padding: 10px 18px;
    margin-bottom: 14px;
    font-family: PT Sans;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    background-color:var(--background-extra-grey);
}
.filter-item{
    margin: 0;
    padding: 0;
    border:none;
}
.filter-item-title{
    position: relative;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black);
}
.filter-item-title::before{
    content: "";
    position: absolute;
    top: -16px;
    width: 220px;
    height: 1px;
    background-color: var(--border-color-light);
}
/*Range*/
.range-filter{
    width:220px;
    margin-top: 10px;
}
.range-control{
    position: relative;
    height: 41px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--background-extra-grey);
    border-radius: 5px;
    
}
.range-control .scale{
    height: 2px;
    background-color: var(--another-grey);
}
.range-control .bar{
    width:152px;
    height: 2px;
    background-color:var(--basic-green);
}
.range-control .toggle{
    position: absolute;
    top:31px;
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: var(--dark-grey);
    border: 8px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--dark-grey);
    cursor: pointer;
}
.range-control .toggle-min{
    left:18px;
}
.range-control .toggle-max{
    left:160px;
}
.price-control{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 42px;
}
.price-input{
    width: 95px;
    padding: 10px 0;
    text-align: center;
    background-color: var(--background-extra-grey);
    border: none;
    border-radius: 5px;
    font-family: PT Sans;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}
.max-price::before{
    content: " - ";
    position: absolute;
    left: 95px;
    top: 10px;
    width: 30px;
    height: 18px;
    font-family: PT Sans;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}


/*Check*/

.filter-list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 23.5px;
}
.check-list{
    margin-top: 17.5px;
    margin-bottom: 46px;
}
.filter-option{
    margin-bottom: 20px;
    padding-left: 35px;
    color: var(--black);
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 15px;
    line-height: 19px;
}
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:checked +label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checked-border.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:checked + label::after{
    content: "";
    position: absolute;
    left: -31px;
    top: -1px;
    width: 22px;
    height: 17px;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:hover + label::before {
    background-image: url("../img/checkbox-off_hover.svg");
}
.filter-input-checkbox:checked:hover +label::before{
    background-image: url("../img/checked-border_hover.svg");
}
.filter-input-checkbox:checked + label::after{
    background-image: url("../img/check_hover.svg");
}
.filter-input:checked + label{
    color: var(--black);
}
.filter-input:disabled + label{
    opacity: 0.4;
}
.filter-input:focus + label{
    color: var(--basic-red);
}
.filter-input-checkbox:focus + label::before{
    outline: 2px solid var(--dark-blue);
}

/*Radio*/

.filter-input-radio + label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--grey);
    border-radius: 50%;
    box-sizing: border-box;
}
.filter-input-radio:checked + label::after{
    content: "";
    position: absolute;
    left: -27px;
    top: 5px;
    width: 9px;
    height: 9px;
    background-color: var(--grey);
    border-radius: 50%;
}
.filter-input-radio:hover + label::before{
    border: 4px solid var(--check-grey);
}
.filter-input-radio:focus + label::before{
    outline: 2px solid var(--dark-blue);
}
.filter-input-radio:checked:hover + label::after{
    background-color: var(--check-grey);
}

.filter-button{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 220px;
    height: 38px;
    font-family: PT Sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--border-color-light);
    box-sizing: border-box;
    margin-top: 18px;
}
/*sorting*/
.sorting{
    position: relative;
    display: flex; 
    padding: 10px 0 10px 19px;
    margin: 0 0 28px 20px;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color:var(--background-extra-grey);
}
.sorting-title{
    color: var(--black);
    padding-right: 70px;
}
.sorting-list{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.sorting-item{
    padding-left: 70px;
}
.sorting-link{
    color: var(--opasity-black);
    text-decoration: underline;
    text-decoration-color: var(--basic-red);
    text-decoration-style: dotted;
}
.sorting-link:hover,
.sorting-link:focus{
    color:var(--black);
    text-decoration-style: solid;
}
.current-link{
    color: var(--basic-red);
    text-decoration: none;
}
.sorting-controls{
    display: flex;
    justify-content: space-between;
    width:43px;
    margin-right: 17px;
}
.sorting-button:hover path,
.sorting-button:focus path{
    fill: var(--black);
}
.current path{
    fill: var(--basic-red);
}
.increase{
    transform: rotate(180deg);
}


/*catalog-list*/
.catalog-list{
    display: flex;
    flex-wrap: wrap;
    min-height: 318px;
    margin: 0;
    padding:0;
    margin-bottom: 28px;
}
.catalog-list .products-item{
    margin-right: 0;
    margin-left: 20px;
}

/*pagination*/
.pagination-list{
    grid-column: 2/-1;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-bottom:59px;
}
.pagination-link{
    display: block;
    padding: 10px 15px;
    margin-right: 9px;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    border-radius:2px;
    border: 1px solid var(--border-color-light);
}
.pagination-link-current{
    background-color: var(--basic-red);
    color: var(--white);
}
.button-next{
    padding: 10px 31px;
}
.pagination-link:hover,
.filter-button:hover{
    border: 1px solid var(--grey);
}
.pagination-link:active,
.filter-button:active{
    border: 1px solid var(--basic-red);
}

/*about-products*/
.about-products{
    color: var(--black);
    background-color:var(--background-extra-blue);
}
.about-products-title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase; 
    padding: 0;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 25px;
    letter-spacing: -0.8px;
}
.about-products-text{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    padding-bottom: 68px;
}
/*Modal*/
.modal{
    /*display: none;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: var(--black);
    background-color:var(--white);
    box-shadow: 0px 4px 20px var(--shadow-color-grey);
    z-index: 25;
}
.modal::before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: var(--basic-red);
}
.modal-close{
    position: absolute;
    top: 17px;
    right: 11px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.modal-close::before,
.modal-close::after{
    content: "";
    position: absolute; 
    top: 10px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: var(--basic-red);
}
.modal-close::before {
    transform: rotate(45deg);
} 
.modal-close::after {
    transform: rotate(-45deg);
}

/*Modal-map*/
.modal-map{
    width:943px;
    height: 449px;
}
.modal-map iframe{
    border: none;
}

/*Modal-feedback*/
.modal-feedback{
    width: 620px;
    height: 430px;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 46px;
    margin-left: 80px;
    margin-right: 80px;
}
.feedback-item{
    width: 220px;
    margin-top: 0;
    margin-bottom: 13px;
}
.feedback-item label{
    display: block;
    font-size: 18px;
    line-height: 24px;
}
.feedback-item input{
    width: 220px;
    margin-top: 11px;
    padding-top:7px;
    padding-bottom: 4px;
    padding-left: 12px;
    font-family: PT Sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    border: 2px solid var(--grey);
    box-sizing: border-box;
}
.feedback-item textarea{
    width: 460px;
    height: 114px;
    margin-top: 11px;
    margin-bottom: 16px;
    padding-top:3px;
    padding-left: 12px;
    font-family: PT Sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    border: 2px solid var(--grey);
    box-sizing: border-box;
    resize: none;
}
.modal-button{
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: var(--popup-grey);
}
.button-feedback{
    min-width: 460px;
    margin-top: auto;
    border: none;
}
/*Modal-basket*/
.modal-basket{
    width: 620px;
    height: 282px;
}
.basket-container{
    display: flex;
    flex-direction: column;
}
.modal-text{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 73px;
    padding-bottom: 67px;
    margin: auto;
}
.modal-basket::after{
    content: "";
    position: absolute;
    top: 55px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.basket-button{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.basket-button a{
    width: 192px;
}
.next-buy{
    color: var(--black);
    background-color: var(--white);
    margin-left: 10px;
}
.button-feedback{
    margin: auto;  
}

.modal{
    display: none;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}
